/**
 * Row Reorderモード中、行単位で移動可能と判定された行だけをポインター操作可能として示す。
 */

.yamabiko-table-reorder-row-highlightable,
.yamabiko-table-reorder-row-highlightable * {
	cursor: grab !important;
}

.yamabiko-table-reorder-row-highlightable:active,
.yamabiko-table-reorder-row-highlightable:active * {
	cursor: grabbing !important;
}

.yamabiko-table-reorder-row-highlightable:hover > td,
.yamabiko-table-reorder-row-highlightable:hover > th {
	box-shadow: inset 0 0 0 9999px rgb(56 88 233 / 5%);
}
