.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/*.log

node_modules/
build/
vendor/
*.zip
coverage/

.playwright/
playwright-report/
test-results/
artifacts/

languages/.yamabiko-table-reorder-js.pot
languages/.yamabiko-table-reorder-row-js.pot
languages/.yamabiko-table-reorder-column-js.pot
languages/.i18n-messages.js