<?xml version="1.0"?>
<ruleset name="Yamabiko Table Reorder">
	<description>WordPress Coding Standards for Yamabiko Table Reorder.</description>

	<file>.</file>

	<arg name="extensions" value="php"/>
	<config name="minimum_wp_version" value="6.8"/>

	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/demo/create-demo.php</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="yamabiko-table-reorder"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="yamabiko_table_reorder"/>
				<element value="YamabikoLab"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false"/>
		</properties>
	</rule>
</ruleset>
