.yamabiko-column-reorder-controls {
	pointer-events: none;
}

.yamabiko-column-reorder-control.components-button {
	position: fixed;
	z-index: 10;
	min-width: 0;
	height: 24px;
	padding: 0;
	transform: translateY(-100%);
	justify-content: center;
	pointer-events: auto;
}

.yamabiko-column-reorder-control > span {
	line-height: 1;
	transform: rotate(90deg);
}
